---
import Layout from "@/layouts/Layout.astro";
import { checkAuth } from "@/utils/auth";

const { article } = Astro.params;

// Authenticated route
const isAuthenticated = checkAuth(Astro.cookies.get("auth"));

if (!isAuthenticated) {
	const currentPath = Astro.url.pathname;
	return Astro.redirect(`/login?path=${currentPath}`);
}
---

<Layout title={"Authenticated Route"}
	>{
		isAuthenticated && (
			<>
				<h1>{article}</h1>
			</>
		)
	}</Layout
>
