---
export const prerender = true;

import Layout from "@/layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Astro POC</h1>
		<a href="/blog/first-article">Click to view article</a>
	</main>
</Layout>
